@model LoanSystem.WebUI.Models.PriceListViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Price ID
        </th>
        <th>
            Effective Date
        </th>
        <th>
            Product
        </th>
        <th>
            Price
        </th>
        <th>
            Default Price
        </th>
        <th>Action(s)</th>
    </tr>

@foreach (var item in Model.Prices) {
<tr>
    <td>
        @item.PriceID.ToString("D4")
        @*@Html.DisplayFor(modelItem => item.PriceID.ToString("d4"))*@
    </td>
    <td>
        @item.Date_From.ToString("MM/dd/yyyy")
        @*@Html.DisplayFor(modelItem => item.Date_From)*@

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Products.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product_Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Default_Price)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PriceID }) |
        @Html.ActionLink("Details", "Details", new { id = item.PriceID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PriceID })
    </td>
</tr>
}

</table>
